[submodule "themes/memory"]
	path = themes/memory
	url = https://github.com/needhourger/hugo-theme-memory.git
[submodule "public"]
	path = public
	url = git@github.com:Trans-Memories/trans-memories.github.io.git
	branch = main
